/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
:root {
    --primary-color: #007BFF;
    --secondary-color: #28A745;
    --accent-color1: #FFC107;
    --accent-color2: #FFD700;
    --background-color: #FFFFFF;
    --background-light-color: #F8F9FA;
    --text-color: #6C757D;
    --hover-color: #0056b3;
    --border-color: #0056b3;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--border-color);
}

button:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.profile-body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.profile-header {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid var(--primary-color);
}

.profile-name {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.profile-section {
    padding: 20px;
    border-top: 1px solid var(--border-color);
}

.profile-section h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.profile-section p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.dropdown-knowledge {
    max-height: 200px;
    overflow: auto;
}

.gallery-img {
    max-height: 200px;
    object-fit: cover;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .profile-picture {
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .profile-name {
        font-size: 1.5rem;
    }
    .gallery-img {
        max-height: 150px;
    }
}

.testDiv {
    display: flex;
    overflow-x: scroll;
}

.cardTest{
    min-width: 12rem
}

.container {
    max-width: 1200px;
    margin: auto;
}

.jumbotron {
    background-color: var(--background-light-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}

.card {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.card-title {
    color: var(--primary-color);
}

.card-text {
    color: var(--text-color);
}

.card-link {
    color: var(--secondary-color);
}

.card-subtitle {
    color: var(--text-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    color: #fff;
}

.album {
    background-color: var(--background-light-color);
    padding: 20px;
    border-radius: 10px;
}

.bd-placeholder-img {
    background-color: var(--accent-color2);
    border-radius: 10px;
}

.custom-navbar {
    background-color: var(--background-light-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 10px 0;
}

.custom-navbar .navbar-brand h1 {
    color: var(--primary-color);
    font-weight: bold;
}

.custom-navbar .navbar-buttons .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.custom-navbar .navbar-buttons .btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: #fff;
}

.custom-navbar .navbar-buttons .btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.custom-navbar .navbar-buttons .btn-secondary:hover {
    background-color: var(--secondary-color), 10%;
    border-color: var(--secondary-color), 10%;
    color: #fff;
}

.custom-navbar .dropdown-menu {
    background-color: var(--background-light-color);
    border: 1px solid var(--border-color);
}

.custom-navbar .dropdown-item {
    color: var(--text-color);
}

.custom-navbar .dropdown-item:hover {
    background-color: var(--accent-color1);
    color: var(--background-color);
    color: #fff;
}

.custom-navbar .ml-auto {
    display: flex;
    align-items: center;
}

.custom-navbar .dropdown-toggle::after {
    margin-left: 0.5rem;
    border-color: var(--text-color) transparent transparent transparent;
}

.footer {
    background-color: var(--background-light-color);
    color: var(--text-color);
    padding: 1rem 0;
    border-top: 1px solid var(--border-color);
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--hover-color);
}

.footer .text-danger {
    color: var(--accent-color1);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    background-color: var(--background-color);
}

.border-color {
    border-color: var(--border-color);
}

.btn-primary-custom {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.btn-secondary-custom {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
}

.btn-primary-custom:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.btn-secondary-custom:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}
.background-color {
    background-color: var(--background-color);
}

.background-light-color {
    background-color: var(--background-light-color);
}

.text-color {
    color: var(--text-color);
}

.border-color {
    border-color: var(--border-color);
}

.container-custom {
    background-color: var(--background-color);
    color: var(--text-color);
}

.body-custom {
    background-color: var(--background-light-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
}

.text-primary-custom {
    color: var(--primary-color);
}

.text-secondary-custom {
    color: var(--secondary-color);
}

.form-control-custom {
    border-color: var(--border-color);
    color: var(--text-color);
}

.form-control-custom::placeholder {
    color: var(--text-color);
}

.form-label {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-control, .form-select {
    margin-bottom: 1rem;
    border-color: var(--border-color);
}

.list-group-item {
    background-color: var(--background-light-color);
    border-color: var(--border-color);
    color: var(--text-color);
    border-radius: 5px;
}

.btn-danger {
    background-color: var(--accent-color1);
    border-color: var(--accent-color1);
    color: var(--background-color);
}

.btn-danger:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.request-item {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.request-title {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.tasker-name {
    color: var(--text-color);
}

.rate {
    color: var(--accent-color1);
}

.review-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.select-custom {
    background-color: var(--background-light-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

.picture-upload-container {
    background-color: var(--background-light-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.picture-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-container {
    margin-top: 20px;
    text-align: center;
}

.preview-image {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.picture-upload-container .btn {
    margin-top: 10px;
}